/* custom properties */

:root {
    --clr-blue: hsl(246, 80%, 60%);
    --clr-v-dark-blue: hsl(226, 43%, 10%);
    --clr-dark-blue: hsl(235, 46%, 20%);
    --clr-desaturated-blue: hsl(235, 45%, 61%);
    --clr-soft-blue: hsl(195, 74%, 62%);
    --clr-violet: hsl(264, 64%, 52%);
    --clr-pale-blue: hsl(236, 100%, 87%);
    --clr-light-red-1:  hsl(15, 100%, 70%);
    --clr-light-red-2: hsl(348, 100%, 68%);
    --clr-lime-green: hsl(145, 58%, 55%);
    --clr-soft-orange: hsl(43, 84%, 65%);

    --ff-rubik: 'Rubik', sans-serif;
}

/* reset */
*,
*::before,
*::after{
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
p {
    font-weight: 300;
}

/* set up the body */
body {
    font-family: --ff-rubik;
    font-size: 300;
    background: var(--clr-v-dark-blue);
    line-height: 1.5;
    min-height: 100vh;
    width: 100%;
    padding: 8.1rem, 2.4rem;

}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    outline: none;
    background: none;
}

/* main styling */

.container{
    width: 100%;
    height: auto;
    display: grid;
    grid-auto-rows: max-content;  /*each row will be created by the browser*/
    grid-template-columns: 1fr;  /*single column layout*/
    justify-items: center;
    gap: 2.4rem;
}

@media screen and (min-width: 500px){
    .container{
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-template-rows: 1fr 1fr;
        min-height: 51.8rem;
        gap: 3rem;
    }
}